@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/Public.cshtml";
}


<div class="box" id="login-box">
@using (Html.BeginForm())
{
    <h5>Forgot Password</h5>
    
    if (!ViewBag.Success)
    {
        <p class="fieldset">
            Enter your username or e-mail address and we'll send you a password reset link.
        </p>
        <div class="fieldset">
            @Html.TextBox("username", null, new { placeholder = "Username or e-mail", style = "text-align: left;" })
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    }
    else
    {
        <p class="fieldset">
            Please check your email inbox and follow the instructions in the email.
        </p>
    
        @Html.ActionLink("Back to Login", "Index")
    }
}
</div>