@model Business.Models.PasswordReset

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/Public.cshtml";
}

<div class="box" id="login-box">    
@using (Html.BeginForm())
{
    <h5>Reset Password</h5>
    
    <p class="fieldset">
        Your username is <strong>@Model.UserName</strong>
    </p>
    
    @Html.ValidationSummary()
    
    <div class="fieldset">
        @Html.Password("password", null, new { placeholder = "Type a new password", style = "margin-bottom: 10px;" })
        @Html.Password("confirmpassword", null, new { placeholder = "Retype password" })
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    }
</div>