@model Business.ViewModels.HomePageViewModel
@{
    ViewBag.Title = "Moovers CRM";
    ViewBag.ParentMenu = "Home";
}

<div class="center-container home-page">
   
        </div>
 
        

        
