.nav-column
{
    width: 230px;
    float: left;
    padding: 20px 0 0 0;
    position: relative;
}

.nav-column-tabs
{
    margin: 0;
    padding: 0;
}

    .nav-column-tabs li a
    {
        padding: 10px 10px 10px 20px;
        display: block;
        border-bottom: 1px solid #f2f2f2;
        position: relative;
        text-decoration: none;
        line-height: 25px;
        font-size: 13px;
        vertical-align: middle;
        color: #777;
    }

        .nav-column-tabs li a:hover
        {
            background: #f2f2f2;
            color: #ff7700;
        }

    .nav-column-tabs li.active a
    {
        background: #f8f8f8;
        font-weight: bold;
        color: #ff7700;
    }

        .nav-column-tabs li.active a:before, .nav-column-tabs li.active a:after
        {
            border-color: transparent transparent transparent transparent;
            border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
            border-style: solid;
            border-width: 8px 0px 8px 8px;
            content: "";
            display: block;
            height: 0;
            margin-top: -8px;
            position: absolute;
            top: 50%;
            right: -8px;
            width: 0;
        }

        .nav-column-tabs li.active a:before
        {
            border-left-color: #ccc;
            right: -8px;
            top: 50%;
        }

        .nav-column-tabs li.active a:after
        {
            border-left-color: #f8f8f8;
            right: -7px;
        }

.content-column
{
    border-left: 1px solid #dddddd;
    margin-left: 230px;
    min-height: 660px;
    padding: 20px;
    min-width: 700px;
}



#claims > thead > tr > th
{
    text-align: left;
    border: 1px solid;
    border-bottom: 2px solid #C8C8C8;
    color: #333;
    font-size: 15px;
    font-weight: bold;
    height: 27px;
    padding: 0 5px;
}

#claims > thead > tr > td
{
    text-align: left;
    /*border: 1px solid gray;*/
    border-bottom: 2px solid #C8C8C8;
    color: #C8C8C8;
    font-size: 13px;
    font-weight: bold;
    height: 27px;
    padding: 0 5px;
}


#claims > tbody > tr
{
    border-bottom: 1px solid #DEDEDE;
}

    #claims > tbody > tr > td
    {
        text-align: left;
        color: #333;
        font-size: 12px;
        height: 25px;
        padding: 0 5px;
        border: 0px, none;
    }

.view-claim-modal
{
    width: 700px;
}

#case-number
{
    width: 100%;
    border-bottom: 2px solid #C8C8C8;
    font-weight: bold;
    font-size: 14px;
}

#account_detail
{
    width: 100%;
    border-bottom: 2px solid #C8C8C8;
    font-weight: bold;
    font-size: 14px;
    height: 50px;
    vertical-align: bottom;
    text-align: end;
}

#created-date
{
    float: right;
    margin-top: 23px;
}

#account-name
{
    float: left;
    margin-top: 23px;
}

#claims
{
    width: 100%;
    margin: 20px 0;
}

.Modal-header
{
    width: 100%;
    border-bottom: 2px solid #C8C8C8;
    font-weight: bold;
    font-size: 14px;
}

#addcase-success-message
{
    width: 55%;
    position: relative;
    height: 50px;
    border: 2px solid #003300;
    background-color: #9EFF9E;
    display: none;
    font-size: 14px;
    margin: 10px 0px 10px 180px;
    font-weight: bold;
    text-align: center;
    vertical-align: central;
    line-height: 50px;
}


.container-add-claim
{
    width: 97%;
    text-align: right;
    margin: 30px 0px 10px 10px;
}

.Case-table-container
{
    text-align: center;
    width: 97%;
    border:2px solid #DEDEDE;
    margin: 20px 0 20px 10px;
    height: 450px;
    overflow-y:scroll;
}



.finalize-case
{
    width: 97%;
    text-align: right;
    margin-right:10px;
}


#claim-items
{
    width: 100%;
    margin: 20px 0;
}

    #claim-items .icon-remove:hover
    {
        text-decoration: none;
        color: red;
    }

    #claim-items > thead > tr > th
    {
        text-align: left;
        border: 0px none;
        border-bottom: 2px solid #C8C8C8;
        color: #CCCCCC;
        font-size: 12px;
        font-weight:bold;
        height: 27px;
        padding: 0 5px;
        font-size:14px;
    }

    #claim-items > tbody > tr
    {
        border-bottom: 1px solid #DEDEDE;
    }

        #claim-items > tbody > tr > td
        {
            text-align: left;
            border: 0px none;
            color: #333;
            font-size: 12px;
            height: 25px;
            padding: 0 5px;
        }
