body.post-body {
  overflow: auto;
  min-width: auto; }

.post-search {
  padding: 10px 0; }

.post-body #content, .post-body .center-container {
  overflow-y: visible;
  /*INPUT*/
  /*TEXT*/
  /*BUTTONS*/
  /*INPUTS*/
  /*DISPLAY*/
  /*SUBNAV*/
  /*NAV-SIDE*/
  /*LAYOUTS*/
  /*SECTIONS*/
  /*TABLES*/
  /*NESTED-TABLE*/
  /**************************************************PAGE SPECIFIC**************************************************/
  /*POSTING-DETAIL*/
  /*TABLE COLUMN WIDTHS & ALIGNMENT*/
  /*EMPLOYEE-JOB-POST*/ }
  .post-body #content .main-posting-payment td, .post-body #content .main-posting-payment th, .post-body .center-container .main-posting-payment td, .post-body .center-container .main-posting-payment th {
    padding-left: 10px;
    padding: 12px; }
  .post-body #content .main-posting-payment td:first-child, .post-body .center-container .main-posting-payment td:first-child {
    padding-top: 8px;
    padding-bottom: 4px; }
  .post-body #content .modal-inner table.payment-selector td:last-child, .post-body .center-container .modal-inner table.payment-selector td:last-child {
    padding-right: 0; }
  .post-body #content div.payments table tr.payment-row td i.icon-remove, .post-body .center-container div.payments table tr.payment-row td i.icon-remove {
    right: -30px; }
  .post-body #content table.post-list > tbody > tr:hover, .post-body .center-container table.post-list > tbody > tr:hover {
    background-color: #eee;
    cursor: pointer; }
  .post-body #content table.post-list .sort-col th, .post-body .center-container table.post-list .sort-col th {
    text-align: left; }
  .post-body #content table.post-list .posting-employee:after, .post-body .center-container table.post-list .posting-employee:after {
    content: ','; }
  .post-body #content table.post-list .sort-col th:last-child, .post-body .center-container table.post-list .sort-col th:last-child {
    text-align: right; }
  .post-body #content table.post-list tr > td:first-child, .post-body #content table.post-list tr th:first-child, .post-body .center-container table.post-list tr > td:first-child, .post-body .center-container table.post-list tr th:first-child {
    padding-left: 4px; }
  .post-body #content .icon-external-link:hover, .post-body .center-container .icon-external-link:hover {
    color: blue; }
  .post-body #content .cfix, .post-body .center-container .cfix {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .post-body #content input[type="text"], .post-body .center-container input[type="text"] {
    height: 25px;
    border: 1px solid #EBEBEB;
    margin: 0;
    padding: 1px 5px;
    -moz-box-sizing: content-box;
    box-sizing: content-box; }
  .post-body #content .new-card-form input[type=text], .post-body .center-container .new-card-form input[type=text] {
    border: 1px solid #C5C5C5; }
  .post-body #content ::-webkit-input-placeholder, .post-body .center-container ::-webkit-input-placeholder {
    color: #DDD;
    font-style: oblique;
    font-size: 12px; }
  .post-body #content h1, .post-body #content h2, .post-body #content h3, .post-body #content h4, .post-body #content h5, .post-body #content h6, .post-body .center-container h1, .post-body .center-container h2, .post-body .center-container h3, .post-body .center-container h4, .post-body .center-container h5, .post-body .center-container h6 {
    margin: 0;
    padding: 0;
    font-weight: normal; }
  .post-body #content div.posting-payments-list table tbody tr td, .post-body .center-container div.posting-payments-list table tbody tr td {
    padding-top: 3px; }
  .post-body #content div.posting-payments-list table tbody tr td:first-child, .post-body .center-container div.posting-payments-list table tbody tr td:first-child {
    padding-top: 7px; }
  .post-body #content h1, .post-body .center-container h1 {
    font-size: 36px;
    line-height: 36px; }
  .post-body #content h2, .post-body .center-container h2 {
    font-size: 32px;
    line-height: 32px; }
  .post-body #content h3, .post-body .center-container h3 {
    font-size: 24px;
    line-height: 24px; }
  .post-body #content h4, .post-body .center-container h4 {
    font-size: 18px;
    line-height: 18px; }
  .post-body #content h5, .post-body .center-container h5 {
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: #DDD;
    font-weight: bold; }
  .post-body #content h6, .post-body .center-container h6 {
    font-size: 12px;
    line-height: 12px; }
  .post-body #content .text-orange, .post-body .center-container .text-orange {
    color: #F70; }
  .post-body #content .text-normal, .post-body .center-container .text-normal {
    font-weight: normal; }
  .post-body #content .text-right, .post-body .center-container .text-right {
    text-align: right; }
  .post-body #content button, .post-body .center-container button {
    -moz-box-sizing: content-box;
    box-sizing: content-box; }
  .post-body #content .btn, .post-body .center-container .btn {
    border-radius: 2px;
    background: -webkit-linear-gradient(top, whitesmoke, #f1f1f1);
    background: -moz-linear-gradient(top, whitesmoke, #f1f1f1);
    background: -ms-linear-gradient(top, whitesmoke, #f1f1f1);
    background: linear-gradient(top, whitesmoke, #f1f1f1);
    border: 1px solid gainsboro;
    color: #444;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    text-shadow: none;
    min-width: 70px;
    height: 27px;
    line-height: 26px;
    text-align: center;
    display: inline-block;
    padding: 0 10px;
    margin: 0; }
  .post-body #content .btn:hover, .post-body .center-container .btn:hover {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    background: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
    background: -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
    background: linear-gradient(top, #f8f8f8, #f1f1f1);
    color: #222; }
  .post-body #content .btn-primary, .post-body .center-container .btn-primary {
    background: #FB8F3D;
    background: -webkit-linear-gradient(top, #fda352, #fb8f3d);
    background: -moz-linear-gradient(top, #fda352, #fb8f3d);
    background: -ms-linear-gradient(top, #fda352, #fb8f3d);
    background: linear-gradient(top, #fda352, #fb8f3d);
    border: 1px solid #FB8F3D;
    color: white;
    text-shadow: none;
    box-shadow: none; }
  .post-body #content .btn-primary:hover, .post-body .center-container .btn-primary:hover {
    background: -webkit-linear-gradient(top, #fd934d, #f9760b);
    background: -moz-linear-gradient(top, #fd934d, #f9760b);
    background: -ms-linear-gradient(top, #fd934d, #f9760b);
    background: linear-gradient(top, #fd934d, #f9760b);
    border: 1px solid #F9760B;
    color: white; }
  .post-body #content .btn.btn-icon-only, .post-body .center-container .btn.btn-icon-only {
    width: 20px;
    min-width: 20px; }
  .post-body #content .btn.btn-warning, .post-body .center-container .btn.btn-warning {
    color: #ffffff;
    padding-left: 0;
    padding-right: 0;
    background: -webkit-linear-gradient(top, #fbb450, #f89406);
    background: -moz-linear-gradient(top, #fbb450, #f89406);
    background: -ms-linear-gradient(top, #fbb450, #f89406);
    background: linear-gradient(top, #fbb450, #f89406);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); }
  .post-body #content input[type=checkbox], .post-body .center-container input[type=checkbox] {
    -webkit-appearance: none;
    margin: 0 4px 0 1px;
    height: 15px;
    width: 15px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(155, 155, 155, 0.57);
    border-radius: 1px;
    vertical-align: text-bottom; }
  .post-body #content input[type=checkbox]:checked, .post-body .center-container input[type=checkbox]:checked {
    background: url("../img/checkmark.png") no-repeat -5px -3px; }
  .post-body #content .input-row, .post-body #content .input-row > input, .post-body .center-container .input-row, .post-body .center-container .input-row > input {
    height: 34px;
    line-height: 34px;
    vertical-align: middle;
    padding-top: 6px; }
  .post-body #content .input-row > button, .post-body .center-container .input-row > button {
    float: left; }
  .post-body #content .input-row > input, .post-body .center-container .input-row > input {
    font: 13px arial;
    float: left;
    height: 25px;
    margin: 0;
    margin-right: 5px;
    padding: 1px 5px;
    width: 149px; }
  .post-body #content .inline-block, .post-body .center-container .inline-block {
    display: inline-block; }
  .post-body #content .subnav, .post-body .center-container .subnav {
    background: white;
    border-bottom: 1px solid #E5E5E5;
    padding: 40px 0px 20px; }
  .post-body #content .subnav .title-dropdown h4, .post-body .center-container .subnav .title-dropdown h4 {
    padding-left: 40px;
    color: #F70;
    font-weight: normal;
    line-height: 26px;
    display: inline-block; }
  .post-body #content .subnav .title-dropdown i, .post-body .center-container .subnav .title-dropdown i {
    color: #F70;
    line-height: 26px;
    padding-left: 5px;
    height: 100%;
    vertical-align: top;
    display: inline-block; }
  .post-body #content .nav-left, .post-body .center-container .nav-left {
    width: 200px;
    padding-top: 40px; }
  .post-body #content .nav-left > ul, .post-body .center-container .nav-left > ul {
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .post-body #content .nav-left > ul > li, .post-body .center-container .nav-left > ul > li {
    padding-left: 40px;
    border-left: 4px solid transparent;
    list-style: none; }
  .post-body #content .nav-left > ul > li:hover, .post-body .center-container .nav-left > ul > li:hover {
    background: #F1F1F1; }
  .post-body #content .nav-left > ul > li.selected, .post-body .center-container .nav-left > ul > li.selected {
    border-left: 4px solid #F90; }
  .post-body #content .nav-left > ul > li > a, .post-body .center-container .nav-left > ul > li > a {
    color: #555;
    height: 40px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    line-height: 40px; }
  .post-body #content .nav-left > ul > li.selected > a, .post-body .center-container .nav-left > ul > li.selected > a {
    color: #F70; }
  .post-body #content .nav-left > ul > li > a > i, .post-body .center-container .nav-left > ul > li > a > i {
    float: right;
    color: #999; }
  .post-body #content .nav-left > ul > li.selected > a > i, .post-body .center-container .nav-left > ul > li.selected > a > i {
    color: #F70; }
  .post-body #content .layout, .post-body .center-container .layout {
    padding: 0;
    margin: 0 auto;
    height: 100%;
    position: relative;
    min-width: 1310px; }
  .post-body #content .layout .col-left, .post-body .center-container .layout .col-left {
    float: left;
    width: 200px; }
  .post-body #content .layout .col3-middle, .post-body .center-container .layout .col3-middle {
    position: absolute;
    left: 250px;
    right: 280px; }
  .post-body #content .layout .col3-right, .post-body .center-container .layout .col3-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 240px; }
  .post-body #content .layout .col2-right, .post-body .center-container .layout .col2-right {
    margin-left: 200px;
    margin-right: 40px; }
  .post-body #content .section-header, .post-body .center-container .section-header {
    padding: 20px 0;
    height: 20px; }
  .post-body #content .section-header h4,
  .post-body #content .section-header h5, .post-body .center-container .section-header h4,
  .post-body .center-container .section-header h5 {
    line-height: 20px; }
  .post-body #content .section, .post-body .center-container .section {
    padding: 0 0 20px 0;
    border-top: none; }
  .post-body #content .section-white, .post-body .center-container .section-white {
    background: white; }
  .post-body #content table.table td:last-child, .post-body #content table.table th:last-child, .post-body .center-container table.table td:last-child, .post-body .center-container table.table th:last-child {
    text-align: right;
    padding-right: 40px; }
  .post-body #content .nested-table, .post-body .center-container .nested-table {
    width: 100%;
    margin-bottom: 20px; }
  .post-body #content .nested-table > thead > tr > td, .post-body .center-container .nested-table > thead > tr > td {
    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 5px solid #333;
    color: #222; }
    .post-body #content .nested-table > thead > tr > td:last-child, .post-body .center-container .nested-table > thead > tr > td:last-child {
      /*border: none;*/
      background: transparent; }
  .post-body #content .nested-table > tbody > tr > td, .post-body .center-container .nested-table > tbody > tr > td {
    height: 30px;
    width: 100%;
    text-align: left;
    line-height: 30px;
    padding-right: 5px;
    border-bottom: 1px dotted #DDD;
    cursor: default; }
    .post-body #content .nested-table > tbody > tr > td:last-child, .post-body .center-container .nested-table > tbody > tr > td:last-child {
      padding-right: 0; }
  .post-body #content tr.subtotal-row, .post-body .center-container tr.subtotal-row {
    border-top: 2px solid black; }
  .post-body #content input.price, .post-body .center-container input.price {
    background: url("../img/dollar-sign.png") no-repeat white center left;
    padding-left: 12px;
    width: 51px;
    color: #0A0;
    -moz-box-sizing: content-box;
    box-sizing: content-box; }
  .post-body #content .nested-table > tbody > tr > td > input.price[disabled], .post-body .center-container .nested-table > tbody > tr > td > input.price[disabled] {
    background: none;
    color: inherit; }
  .post-body #content .nested-table > tbody > tr, .post-body .center-container .nested-table > tbody > tr {
    position: relative; }
    .post-body #content .nested-table > tbody > tr > td > input[type="email"], .post-body #content .nested-table > tbody > tr > td input[type="number"], .post-body #content .nested-table > tbody > tr > td input[type="password"], .post-body #content .nested-table > tbody > tr > td input[type="search"], .post-body #content .nested-table > tbody > tr > td input[type="tel"], .post-body #content .nested-table > tbody > tr > td input[type="text"], .post-body #content .nested-table > tbody > tr > td input[type="url"], .post-body #content .nested-table > tbody > tr > td input[type="color"], .post-body #content .nested-table > tbody > tr > td input[type="date"], .post-body #content .nested-table > tbody > tr > td input[type="datetime"], .post-body #content .nested-table > tbody > tr > td input[type="datetime-local"], .post-body #content .nested-table > tbody > tr > td input[type="month"], .post-body #content .nested-table > tbody > tr > td input[type="time"], .post-body #content .nested-table > tbody > tr > td input[type="week"], .post-body .center-container .nested-table > tbody > tr > td > input[type="email"], .post-body .center-container .nested-table > tbody > tr > td input[type="number"], .post-body .center-container .nested-table > tbody > tr > td input[type="password"], .post-body .center-container .nested-table > tbody > tr > td input[type="search"], .post-body .center-container .nested-table > tbody > tr > td input[type="tel"], .post-body .center-container .nested-table > tbody > tr > td input[type="text"], .post-body .center-container .nested-table > tbody > tr > td input[type="url"], .post-body .center-container .nested-table > tbody > tr > td input[type="color"], .post-body .center-container .nested-table > tbody > tr > td input[type="date"], .post-body .center-container .nested-table > tbody > tr > td input[type="datetime"], .post-body .center-container .nested-table > tbody > tr > td input[type="datetime-local"], .post-body .center-container .nested-table > tbody > tr > td input[type="month"], .post-body .center-container .nested-table > tbody > tr > td input[type="time"], .post-body .center-container .nested-table > tbody > tr > td input[type="week"] {
      width: 55px;
      height: 30px;
      text-align: right;
      position: relative;
      border: none;
      padding-right: 5px;
      height: 100%;
      border: 0; }
    .post-body #content .nested-table > tbody > tr > td.input-td, .post-body #content .nested-table > tbody > tr > th.input-td, .post-body .center-container .nested-table > tbody > tr > td.input-td, .post-body .center-container .nested-table > tbody > tr > th.input-td {
      background: white;
      border-right: 1px solid whitesmoke;
      padding: 0; }
      .post-body #content .nested-table > tbody > tr > td.input-td span.display, .post-body #content .nested-table > tbody > tr > th.input-td span.display, .post-body .center-container .nested-table > tbody > tr > td.input-td span.display, .post-body .center-container .nested-table > tbody > tr > th.input-td span.display {
        background: whiteSmoke;
        display: inline-block;
        padding: 5px 8px;
        width: 100%; }
      .post-body #content .nested-table > tbody > tr > td.input-td.disabled, .post-body #content .nested-table > tbody > tr > th.input-td.disabled, .post-body .center-container .nested-table > tbody > tr > td.input-td.disabled, .post-body .center-container .nested-table > tbody > tr > th.input-td.disabled {
        background-color: #eee; }
    .post-body #content .nested-table > tbody > tr span.total-pay, .post-body .center-container .nested-table > tbody > tr span.total-pay {
      width: 60px;
      display: inline-block;
      text-align: right; }
    .post-body #content .nested-table > tbody > tr > td.text-td, .post-body .center-container .nested-table > tbody > tr > td.text-td {
      display: table-cell;
      min-width: 55px;
      text-align: center; }
    .post-body #content .nested-table > tbody > tr > td.action-column, .post-body .center-container .nested-table > tbody > tr > td.action-column {
      display: inline-block;
      width: 40px;
      border: none; }
      .post-body #content .nested-table > tbody > tr > td.action-column > .icon-remove, .post-body .center-container .nested-table > tbody > tr > td.action-column > .icon-remove {
        color: transparent; }
    .post-body #content .nested-table > tbody > tr:hover > td.action-column > .icon-remove, .post-body .center-container .nested-table > tbody > tr:hover > td.action-column > .icon-remove {
      color: #CCC; }
      .post-body #content .nested-table > tbody > tr:hover > td.action-column > .icon-remove:hover, .post-body .center-container .nested-table > tbody > tr:hover > td.action-column > .icon-remove:hover {
        color: #333; }
    .post-body #content .nested-table > tbody > tr.strikeout > td, .post-body .center-container .nested-table > tbody > tr.strikeout > td {
      text-decoration: line-through;
      color: red;
      background: transparent; }
      .post-body #content .nested-table > tbody > tr.strikeout > td input.price, .post-body .center-container .nested-table > tbody > tr.strikeout > td input.price {
        text-decoration: line-through; }
    .post-body #content .nested-table > tbody > tr.strikeout > td > input[type="text"], .post-body .center-container .nested-table > tbody > tr.strikeout > td > input[type="text"] {
      background: transparent; }
    .post-body #content .nested-table > tbody > tr.strikeout > td.action-column > .icon-remove, .post-body .center-container .nested-table > tbody > tr.strikeout > td.action-column > .icon-remove {
      color: red; }
    .post-body #content .nested-table > tbody > tr.strikeout > td:last-child, .post-body .center-container .nested-table > tbody > tr.strikeout > td:last-child {
      background: transparent; }
  .post-body #content table#posting-detail, .post-body .center-container table#posting-detail {
    min-width: 902px; }
    .post-body #content table#posting-detail > tbody > tr, .post-body .center-container table#posting-detail > tbody > tr {
      cursor: pointer;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    .post-body #content table#posting-detail > tbody > tr:hover, .post-body .center-container table#posting-detail > tbody > tr:hover {
      background-color: #eee; }
    .post-body #content table#posting-detail > tbody > tr.tr-expanded-body:hover, .post-body .center-container table#posting-detail > tbody > tr.tr-expanded-body:hover {
      background-color: inherit;
      cursor: default; }
    .post-body #content table#posting-detail > tbody > tr.main-row.expanded, .post-body .center-container table#posting-detail > tbody > tr.main-row.expanded {
      border-left: 1px solid #EBEBEB;
      border-right: 1px solid #EBEBEB; }
    .post-body #content table#posting-detail > tbody > tr.main-row.disabled .icon-toggle, .post-body .center-container table#posting-detail > tbody > tr.main-row.disabled .icon-toggle {
      display: none; }
    .post-body #content table#posting-detail > tbody > tr.main-row.disabled:hover, .post-body .center-container table#posting-detail > tbody > tr.main-row.disabled:hover {
      background-color: inherit;
      cursor: default; }
    .post-body #content table#posting-detail > tbody > tr.main-row.disabled td, .post-body .center-container table#posting-detail > tbody > tr.main-row.disabled td {
      color: #a5a5a5; }
    .post-body #content table#posting-detail > thead > tr > td:nth-child(1), .post-body .center-container table#posting-detail > thead > tr > td:nth-child(1) {
      width: 40px;
      padding-right: 0; }
    .post-body #content table#posting-detail > thead > tr > td:nth-child(2), .post-body .center-container table#posting-detail > thead > tr > td:nth-child(2) {
      width: 150px; }
    .post-body #content table#posting-detail > thead > tr > td:nth-child(3), .post-body .center-container table#posting-detail > thead > tr > td:nth-child(3) {
      width: 75px;
      text-align: right; }
    .post-body #content table#posting-detail > thead > tr td:nth-child(5), .post-body .center-container table#posting-detail > thead > tr td:nth-child(5) {
      width: 50px;
      text-align: right;
      white-space: nowrap; }
  .post-body #content table.quote-services .desc, .post-body .center-container table.quote-services .desc {
    display: block;
    font-size: .75em; }
  .post-body #content table.employee-job-post > thead > tr > td, .post-body .center-container table.employee-job-post > thead > tr > td {
    text-align: center;
    padding-right: 0;
    white-space: nowrap; }
  .post-body #content table.employee-job-post table tbody tr:hover, .post-body .center-container table.employee-job-post table tbody tr:hover {
    background-color: #eee;
    cursor: pointer; }
  .post-body #content table.half-left, .post-body #content table.half-right, .post-body .center-container table.half-left, .post-body .center-container table.half-right {
    width: 44%;
    margin-right: 2%;
    float: left;
    border: 1px solid #EBEBEB; }
    .post-body #content table.half-left td:first-child, .post-body #content table.half-left th:first-child, .post-body #content table.half-right td:first-child, .post-body #content table.half-right th:first-child, .post-body .center-container table.half-left td:first-child, .post-body .center-container table.half-left th:first-child, .post-body .center-container table.half-right td:first-child, .post-body .center-container table.half-right th:first-child {
      padding-left: 10px; }
    .post-body #content table.half-left tr, .post-body #content table.half-right tr, .post-body .center-container table.half-left tr, .post-body .center-container table.half-right tr {
      height: 30px; }
    .post-body #content table.half-left input, .post-body #content table.half-right input, .post-body .center-container table.half-left input, .post-body .center-container table.half-right input {
      margin: 5px 0;
      height: 19px;
      -moz-box-sizing: content-box;
      box-sizing: content-box; }
    .post-body #content table.half-left td:last-child input, .post-body #content table.half-right td:last-child input, .post-body .center-container table.half-left td:last-child input, .post-body .center-container table.half-right td:last-child input {
      text-align: right; }
  .post-body #content tr.cost-line, .post-body .center-container tr.cost-line {
    height: 2px; }
  .post-body #content .posting-status, .post-body .center-container .posting-status {
    padding-left: 16px;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 19p;
    margin: 5px 0;
    display: inline-block; }
  .post-body #content .textbox-align, .post-body .center-container .textbox-align {
    padding-left: 5px; }
  .post-body #content .completed, .post-body .center-container .completed {
    color: #0A0; }
  .post-body #content .cancelled, .post-body .center-container .cancelled {
    color: red; }
  .post-body #content .custom-service td, .post-body .center-container .custom-service td {
    position: relative; }
    .post-body #content .custom-service td .icon-remove, .post-body .center-container .custom-service td .icon-remove {
      position: absolute;
      right: 0;
      top: 6px;
      display: none; }
      .post-body #content .custom-service td .icon-remove:hover, .post-body .center-container .custom-service td .icon-remove:hover {
        color: red; }
  .post-body #content .custom-service:hover .icon-remove, .post-body .center-container .custom-service:hover .icon-remove {
    display: block; }

/**** View Page */
body.post-body.view #content .post-header {
  height: 40px; }
body.post-body.view #content .post-header .right {
  line-height: 39px;
  margin-right: 5px; }
body.post-body.view #content h3 {
  padding: 10px 0; }
  body.post-body.view #content h3 .subcontrol {
    font-weight: normal;
    color: #999;
    font-size: 14px; }
  body.post-body.view #content h3 a {
    font-size: 12px; }
body.post-body.view #content .center-container {
  padding: 10px; }
body.post-body.view #content .green {
  color: green; }
body.post-body.view #content .red {
  color: red; }
body.post-body.view #content table.table-vertical tr {
  height: 30px; }
  body.post-body.view #content table.table-vertical tr th, body.post-body.view #content table.table-vertical tr td {
    padding-left: 10px;
    vertical-align: middle; }
body.post-body.view #content table.table td, body.post-body.view #content table.table th {
  vertical-align: middle; }
body.post-body.view #content .panel-container table {
  margin-top: 10px;
  margin-bottom: 0; }
  body.post-body.view #content .panel-container table td:first-child, body.post-body.view #content .panel-container table th:first-child {
    padding-left: 10px; }
body.post-body.view #content ul.errors {
  margin-left: 0;
  list-style-type: none;
  color: red; }

