 body {
    margin-top: 0px;
    margin-left: 0px;
}

#page_1 {
    position: relative;
    overflow: hidden;
    margin: 27px 0px 29px 37px;
    margin-left: 0;
    padding: 0px;
    border: none;
}

h1 {
    font-size: 20px;
    background-color: #3689BF;
    color: white;
    padding-left: 10px;

    .left {
        font-size: 12px;
        margin-right: 100px;
    }
    .center {
        display: inline-block;
        text-align: center;
    }

}

.section {
    margin-bottom: 20px;
    margin-left: 3px;
    h4 {
        background-color: #333;
        padding: 5px;
        margin: 0;
        color: white;
    }
    h3 {
        background-color: #ccc;
        padding: 5px;
        margin: 0;
        font-size: 1.17em;
        line-height: 1.17em;
    }
    table {
        width: 100%;
        th, td {
            text-align: left;
            padding: 3px;
            border-top: 1px solid #ddd;
        }
    }
}

.contact-info {
    padding: 6px;
    .line {
        display: table;
        width: 100%;
        border-bottom: 1px solid #999;
        height: 17px;
        font-size: 14px;
        font-family: tahoma;

        span {
            display: table-cell;
        }

        label {
            font-size: 10px;
            font-family: tahoma;
            display: inline;
            &:after {
                content: ":";
            }
        }
    }
}